NEO4J_URI = neo4j+s://database-user.databases.neo4j.io
NEO4J_USER = database-user
NEO4J_PASSWORD = user_neo4j_password

LLM_URL = llm_url # for openrouter: 'https://openrouter.ai/api/v1'
LLM_API_KEY = user_api_key